<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-55N525QXKS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-55N525QXKS');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Easily save over the board chess games while mastering algebraic notation without trying.">
    <meta property="og:title" content="Chess Notepad - Chess Clock and Notation" />
    <meta property="og:description" content="Easily save over the board chess games while mastering algebraic notation without trying." />
    <meta property="og:image" content="https://chessnotepad.com/images/og.png" />
    <link rel="icon" href="../favicon.ico">
    <link rel="manifest" href="../app.webmanifest">
    <title>Chess Notepad - Chess Clock and Notation</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
