:root {
  --dark-magic: #12002b;
  --magic: #230051;
  --plum: #381E5A;
  --snip: #38007F;
  --mid: #645081;
  --spice: #AF2ABA;
  --putty: #E0D7EC;
  --cream: #FFFBEC;
  --miami: #D93C91;

  --negative: var(--miami);

  --origin: var(--mid);
  --active: linear-gradient(156deg, var(--spice) 12%, var(--snip) 93.26%);
  --monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro","Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --ad-height: 60px;
}

button[disabled] {
  opacity: .3;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--magic);
  color: var(--putty);
}

.wrapper {
  padding: 16px;
}

.ex-button + .wrapper {
  padding-top: 32px;
}

body,
button,
input,
select {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: var(--putty);
}

.button {
  background: transparent;
  border: 1px solid var(--putty);
  border-radius: 40px;
  font-size: 18px;
  padding: .6em 1em;
  text-decoration: none;
}

.button--primary {
  background: var(--active);
  border: 0;
}

.ex-button {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 12px;
  border: 0;
  border-radius: 50%;
  /* background: var(--plum); */
  background: transparent;
  
}

h1 {
  color: var(--color3);
}

.visually-hidden {
  position: absolute;
  left: -200vw;
}

.monospace {
  font-family: var(--monospace);
}

svg[viewBox='0 0 18 18'] {
  fill: none;
  stroke: #FFFBEC;
  stroke-width: 2;
  stroke-linecap: round;
  width: 30px;
}

a {
  color: var(--cream);
}

.intro {
  background: var(--active);
  text-align: center;
}

.intro .button {
  margin-top: .7vh;
}

.home .wrapper:not(.footer, .wrapper--ad) {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.home .wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: min(100px, 15vw);
  margin-left: max(-3vw, -10px);
}

.intro header {
  display: flex;
  gap: 10px;
  font-size: min(36px, 5vw);
  justify-content: center;
  align-items: center;
}

.intro h1 {
  font-size: 1.65em;
  margin: 0;
  color: var(--cream);
}

.intro p {
  font-size: 16px;
  border-top: 1px solid var(--magic);
  padding-top: 1em;
}

.home, 
.chess-notepad__full-instructions {
  padding-bottom: calc(var(--ad-height) + 20px);
}

.clocks {
  text-align: center;
  margin-bottom: 1em;
}

.clocks h2 {
  font-size: 24px;
  margin-top: 0;
}

.clock-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 1em;
  justify-content: center;
}

.clocks li {
  width: 49%;
}

.clock-buttons .button {
  display: block;
}

.custom-time {
  background: var(--cream);
  font-weight: 700;
  color: var(--magic);
  border: 0;
  margin-top: 1.2em;
  width: min(50vw, 300px);
}

.base-time {
  font-weight: 700;
}

.bonus-time::before {
  content: ' | ';
  color: var(--mid);
}

.text-center {
  text-align: center;
}

.chess-notepad__full-instructions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--magic);
}

.chess-notepad__full-instructions .wrapper {
  max-width: 600px;
  margin: 0 auto;
}


.chess-notepad__full-instructions h3 {
  font-size: 24px;
}

.chess-notepad__full-instructions h4 {
  font-size: 20px;
}

.chess-notepad__full-instructions h5 {
  font-size: 16px;
}

.callout {
  background: var(--snip);
  border: 1px solid var(--spice);
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.callout::before {
  font-size: 2.7em;
  margin-left: -.2em;
  color: var(--cream);
}

.callout--pawn::before {
  content: '♙';
}

.callout--castling::before {
  content: '♖';
}

.chess-board {
  display:flex;
  background: var(--plum);
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.chess-board > div {
  display: flex;
}

.chess-board svg {
  flex-grow: 1;
}

.chess-board .ranks {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

.chess-board .files {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.ad-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  background: var(--plum);
  min-height: var(--ad-height);
  z-index: 1;
  border-top: 1px solid var(--spice);
  box-shadow: 0 -5px 10px 0 var(--dark-magic);
  color: var(--putty);
}

.ad {
  display: flex;
  text-decoration: none;
  gap: 16px;
  align-items: center;
}

.ad span {
  text-decoration: underline;
  text-decoration-color: var(--mid);
}

.ad::before {
  display: block;
  content: 'AD';
  opacity: .5;
  font-weight: 700;
  text-decoration: none;
}

.footer {
  bottom: 0;
  font-size: 12.5px;
  padding-bottom: 5px;
  margin-top: 10vh;
}

.content main {
  padding-bottom: 75px;
}

.content .footer {
  padding-bottom: 85px;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.gap {
  gap: 16px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
 max-width: 900px; 
}

img {
  max-width: 100%;
}

.footer__logo {
  width: 40px;
  display: block;
}

.footer__logo * {
  stroke: var(--mid) !important;
}

.footer__logo [fill] {
  fill: var(--mid) !important;
}

.footer--big {
  margin-top: 50px;
  max-width: 900px;
}

.footer--big ol {
  columns: 3 200px;
  list-style: none;
  padding-left: 0;
}

.footer--big li {
  margin-bottom: .4em;
}

.footer--big a {
  text-decoration: none;
  color: var(--putty);
}

.footer--big a:hover {
  text-decoration: underline;
  color: var(--cream);
}

.footer--big small {
  flex-shrink: 0;
  align-self: end;
}

.footer--big hr {
  border: 1px solid var(--mid);
  margin-top: -1px;
}

.footer__container {
  margin-bottom: 30px;
  justify-content: space-between;
}

.gap-2 {
  gap: 32px;
}

.gap-3 {
  gap: clamp(32px, 5vw, 64px);
}

.no-list {
  list-style: none;
  padding-left: 0;
}

.w-25 {
  width: 25%;
}

.w-33 {
  width: 33.333%;
}

.w-50 {
  width: 50%;
}

.w-66 {
  width: 66.666%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.gap {
  gap: 16px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
 max-width: 900px; 
}

img {
  max-width: 100%;
}

.pt-5,
.py-5 {
  padding-top: 50px;
}

.pb-5,
.py-5 {
  padding-bottom: 50px;
}

.px {
  padding-left: 16px;
  padding-right: 16px;
}

.py {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pt-6 {
  padding-top: 60px;
}

.center {
  text-align: center;
}