.content .intro header {
  font-size: 16px;
  justify-content: start;
}

.header-link {
  text-decoration: none;
}

.logo {
  width: 2.3em;
  margin-left: 0;
}

.content .wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.content main {
  font-size: 16px;
  padding-top: min(2vw, 3em);
}

.content .button {
  display: inline-block;
  margin: 1em 0;
}

.content .button:hover {
  background-color: var(--plum);
}

.content .right {
  width: 100%;
}

@media (min-width: 475px) {
  .content .right {
    width: 33%;
    float: right;
    padding: .5em 0 .5em 1em;
  }
}

@media (min-width: 600px) {
  .content .right {
    width: 50%;
  } 
}

.content li {
  margin-bottom: .5em;
}

@media (max-width: 450px) {
  iframe[src*="www.youtube.com"] {
    height: 210px;
  }
}